.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.stack {
  height: 100px;
  width: 100px;
  background-color: blue;
  display: inline-block;
}
.piece {
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  font-size: 5rem;
  color: white;
}
.piece.player-0 {
  background-color: white;
  color: black;
}